<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首頁</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>歡迎，這是首頁！</h1>
    <div>
        <p>使用者名稱：<span th:text="${#authentication.name}"></span></p>
        <p>角色：<span th:text="${#authentication.authorities}"></span></p>
    </div>
    <form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">登出</button>
</form>
</body>
</html>