<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>自訂登入頁</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h2>請登入</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label>帳號：</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>密碼：</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <button type="submit">登入</button>
        </div>
        <div th:if="${param.error}" style="color:red;">
            帳號或密碼錯誤！
        </div>
        <div th:if="${param.logout}" style="color:green;">
            已成功登出！
        </div>
    </form>
</body>
</html>
